@import url('https://fonts.googleapis.com/css?family=Lato');

//Fonts
$base-font-family: 'Lato', sans-serif;
$base-font-size: 16px;
$container-header-font-size: 14px; 
$container-task-font-size: 12px;

//Colors 
$background-root-color: #e9f0f4;
$base-light-color: #dae4eb;
$base-dark-color: #2e3641;
$done-task-color: #9eb2c0;
$border-task-container-color: #dbdbdb;